name: CI-test root:6.32.02-ubuntu22.04

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    types: [labeled]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test in ROOT Container
    
    if: >
      (github.actor == github.repository_owner) || 
      (github.event_name == 'pull_request' && github.event.label.name == 'run-tests')
      
    
    runs-on: ubuntu-latest
    
    container:
      image: rootproject/root:6.32.02-ubuntu22.04

    steps:
    - name: Reset Label
      if: github.event_name == 'pull_request'
      uses: actions-ecosystem/action-remove-labels@v1
      with:
        labels: 'run-tests'
      continue-on-error: true
    
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: CMake configuration
      run: |
        mkdir build
        cd build
        cmake ..

    - name: Compile WaveDeck
      run: |
        cd build
        cmake --build . 

    - name: Run Unit Tests
      working-directory: build
      run: ctest -E "ExampleTest" --output-on-failure

    - name: Run Example Test
      working-directory: build
      run: ctest -R "ExampleTest" --output-on-failure
      env:
        CI: "true"

    - name: Upload Plot Artifacts
      uses: actions/upload-artifact@v4
      if: success() 
      with:
        name: output-plots
        path: |
          build/examples_output_plots/*.png
        retention-days: 5
